// Color definitions
$white: white;
$black: black;
$light-grey: hsl(0, 0%, 75%);
$medium-grey: hsl(0, 0%, 50%);
$medium-dark-grey: hsl(0, 0%, 25%);
$dark-grey: hsl(0, 0%, 15%);
$darkest-grey: hsl(0, 0%, 7%);

// Typography colors
$font-primary: $white;
$font-secondary: $medium-grey;
$footer: $medium-grey;
$footer-separator: $dark-grey;

// Background colors
$header-bg: $dark-grey;
$menu-bg: $medium-grey;
$site-bg: $black;

// Scrollbar colors
$scrollbar-track: $darkest-grey;
$scrollbar-thumb: $medium-grey;
