// Color definitions
$white: white;
$black: black;
$medium-grey: #808080;
$dark-grey: #262626;

// Typography colors
$font-primary: $white;
$font-secondary: $medium-grey;
$footer: $medium-grey;
$footer-separator: $dark-grey;

// Background colors
$header-bg: $dark-grey;
$menu-bg: $medium-grey;
$site-bg: $black;
