@use "colors";
@use "sizes";

.footer {
  $border: 1px solid colors.$footer-separator;
  width: 100%;
  color: colors.$footer;

  .content {
    @include sizes.page-container;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    border-top: $border;
  }

  .copyright {
    border-right: $border;
    padding-right: 1em;
  }

  .madeIn {
    display: flex;
    align-items: center;
    padding-left: 1em;

    img {
      width: 1.5em;
      height: 1.5em;
      margin-left: 0.75em;
    }
  }
}
